<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCD Dublin Bikes Info</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js" integrity="sha512-XcsV/45eM/syxTudkE8AoKK1OfxTrlFpOltc9NmHXh3HF+0ZA917G9iG6Fm7B6AzP+UeEzV8pLwnbRNPxdUpfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=visualization,places"></script>
</head>

<body class="bg-gray-800 text-white">
    <header class="bg-slate-200 py-3 px-4 flex items-center justify-between">
        <div class="flex items-center">
            <ion-icon name="menu-outline" class="text-black text-4xl pr-4" id="menuToggle"></ion-icon>
            
        </div>
        <div class="weather-info flex items-center text-xl font-semibold text-gray-800">
            <span id="weather-description" class="mr-4">Loading weather data...</span>
            <span id="weather-icon" class="mx-4 flex items-center justify-center"></span>
            <span id="weather-temperature" class="mr-4"></span>
            <span id="weather-humidity" class="mr-4">Humidity: ...%</span>
            <span id="weather-precipitation">Precipitation: ...mm</span>
        </div>
        
        
        <!-- <select id="markerSelect">
            <option value="">Select a marker</option>
        </select> -->
    </header>
    <div class="flex">
        <div class="flex">
            <nav id="navbar"
     class="bg-slate-200 transform top-0 left-0 w-64 fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30"
     style="transform: translateX(-100%)">

    <div class="flex flex-col items-center pt-8">
        <ion-icon name="bicycle-outline" class="text-black text-4xl mb-8"></ion-icon>
        
       
        </div>
    </div>
     
                                    </div>
                                    <!-- Google Maps Direction button, styled to appear to the right of Submit button. Hidden. Becomes Visible when form is submitted-->
                                    
    
</nav>
        </div>
        <main id="main-content" class="flex-1 p-4">
            <div id="map" class="w-full h-screen rounded-lg" style="height: calc(100vh - 64px);"></div>
            <div class="text-white text-3xl font-bold text-center my-4">
    Journey Planner
</div>



            <!--  Planning Panel -->
            <div class="mt-auto"></div>
            <div class="bg-gray-900 p-8 rounded-lg shadow-lg mx-4 mb-4">
                <form id="myForm" class="space-y-4">
                    <div class="text-white text-lg mb-2">
                        Choose your start destination location then hit accept to find nearest station to you and navigation
                    </div>
                    <!-- Start Location Row -->
                    <div class="flex flex-wrap items-center -mx-2">
                        <div class="px-2 w-full sm:w-1/2">
                            <label for="startInput" class="block text-sm font-medium text-white mb-1">Start:</label>
                            <input id="startInput" type="text" placeholder="Start location" class="w-full p-2 bg-gray-200 rounded text-black">
                            <!-- Travel Mode Selection -->
                            <div id="travelModeSelection" class="travel-mode">
                                <label><input type="radio" name="travelMode" value="DRIVING" checked> Drive</label>
                                <label><input type="radio" name="travelMode" value="WALKING"> Walk</label>
                                <label><input type="radio" name="travelMode" value="BICYCLING"> Cycle</label>
                            </div>

                            <button id="confirmStartLocation" type="button">Accept</button>

                        </div>
                        <div class="px-2 w-full sm:w-1/2 md:flex-1">
                            <label for="depart" class="block text-sm font-medium text-white mb-1">Closest Station:</label>
                            <select id="depart" class="w-full p-2 bg-gray-800 text-white rounded-md">
                                <!-- Options -->
                            </select>
                        </div>
                    </div>
                    
                    <!-- Start Time and Day Row -->
                    
                    <div class="text-white text-lg mb-2 mt-4">
                        Choose your end destination and hit accept for the nearest station and navigation
                    </div>
                    <!-- End Location Row -->
                    <div class="flex flex-wrap items-center -mx-2">
                        <div class="px-2 w-full sm:w-1/2">
                            <label for="endInput" class="block text-sm font-medium text-white mb-1">End:</label>
                            <input id="endInput" type="text" placeholder="End location" class="w-full p-2 bg-gray-200 rounded text-black">
                                <!-- Travel Mode Selection -->
                    <div id="travelModeSelection" class="travel-mode">
                        <label><input type="radio" name="travelMode" value="DRIVING" checked> Drive</label>
                        <label><input type="radio" name="travelMode" value="WALKING"> Walk</label>
                        <label><input type="radio" name="travelMode" value="BICYCLING"> Cycle</label>
                    </div>

                            <button id="confirmEndLocation" type="button">Accept</button>
                        </div>
                        <div class="px-2 w-full sm:w-1/2 md:flex-1">
                            <label for="arrive" class="block text-sm font-medium text-white mb-1">Closest Station:</label>
                            <select id="arrive" class="w-full p-2 bg-gray-800 text-white rounded-md">
                                <!-- Options -->
                            </select>
                        </div>
                    </div>
                    
                    <!-- End Time and Day Row -->
                    

                    <div class="px-2">
                        <button id="resetButton" type="button" class="bg-blue-500 text-white p-2 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50">
                            <ion-icon name="refresh-outline" class="text-xl"></ion-icon>
                        </button>
                    </div>
                    <div class="text-white text-lg mb-4 text-right">
                        Click here for station to station directions
                    </div>
                    <!-- Buttons Row -->
                    <div class="flex flex-wrap items-center justify-between -mx-2">
                        <div class="px-2">
                            <button id="confirmButton" type="button" class="bg-teal-500 text-white px-4 py-2 rounded-md hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-700 focus:ring-opacity-50">
                                
                            </button>
                        </div>
                        <div class="px-2">
                            <button id="directionsButton" type="button" class="bg-gray-800 text-white px-4 py-2 rounded-md" style="display: none;">
                                Directions
                            </button>
                        </div>
                        <div class="px-2">
                            <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md" onclick="submitForm()">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            
                            
            <!-- End Planning Panel -->

        </main>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>