<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DublinBikes</title>
    <!--Reference: https://www.geeksforgeeks.org/how-to-create-dark-mode-using-prefer-color-scheme-media-query/ -->
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon-light.svg') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon-dark.svg') }}" media="(prefers-color-scheme: dark)">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js"
        integrity="sha512-XcsV/45eM/syxTudkE8AoKK1OfxTrlFpOltc9NmHXh3HF+0ZA917G9iG6Fm7B6AzP+UeEzV8pLwnbRNPxdUpfA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=visualization,places,geometry&callback=initMap"></script>
        <style>
            :root {
                --background-color: #FFFFFF;
                --grid-color: rgba(0,0,0,0.1);
                --color: #666;
            }
            .gm-style-iw-d {
                overflow: hidden !important;
            }
            #marker-popup {
                margin: 20px;
            }
            div[role='dialog'] {
                background-color: var(--background-color) !important;
            }
            div[id='marker-popup']{
                color: var(--color) !important;

            }
            .gm-style-iw-tc::after {
                background: var(--background-color) !important;
            }
            #navbar {
                width: 27vw !important;
            }
            #route-info {
                margin-bottom: 20px;
            }
            #timeInput{
                padding-left: 5px;
            }
        </style>
</head>

<body class="bg-gray-800 ">

    <header class="bg-slate-100 py-3 px-4 flex items-center justify-between fixed top-0 left-0 right-0 z-40 shadow-xl">

        <div class="flex items-center">
            <ion-icon name="menu-outline" class="text-gray-800 text-4xl pr-4 cursor-pointer" id="menuToggle"></ion-icon>
            <ion-icon name="bicycle" class="text-gray-800 text-4xl cursor-pointer" id="bicycle-icon"></ion-icon>
        </div>

        <div id="status-bar" class="flex items-center justify-center w-full max-w-md">
            loading...
        </div>
        

        <div class="weather-info flex items-center text-xl font-semibold text-gray-800">
            <span id="weather-description">Loading weather data...</span>
            <span id="weather-icon" class="mx-4 flex items-center justify-center"></span>
            <span id="weather-temperature" class="mr-4"></span>
            <span id="weather-humidity" class="mr-4">Humidity: ...%</span>
            <span id="weather-precipitation">Precipitation: ...mm</span>
        </div>

        <div class="view-mode flex items-center" onclick="toggleMapStyle()">
            <ion-icon name="moon-outline" class="text-black text-2xl pr-4"></ion-icon>
        </div>
        
        <!-- <select id="markerSelect">
            <option value="">Select a marker</option>
        </select> -->
    </header>
    <div class="flex">
        <div class="flex">
            <nav id="navbar" class="bg-slate-100 fixed top-16 left-0 h-full overflow-auto ease-in-out transition-all duration-300 z-30 shadow-xl">


                    <div class="flex flex-col items-center py-8">
                        <h2 class="text-2xl font-semibold mb-6">
                            Journey Planner
                        </h2>
                
                         <!-- Journey Planner Form -->
                         <div class="w-full px-6">
                             <form id="myForm" class="space-y-6">
                                <!-- radio buttons for day selection -->
                                <div class="flex-container flex flex-col md:flex-row">
                                    <div class="flex md:flex-col"> <!-- Container for day selection -->
                                        <div class="flex items-center">
                                            <input type="radio" id="today" name="date" value="0" checked>
                                            <label for="today" class="ml-2">Today</label>
                                        </div>
                                        <div class="flex items-center">
                                            <input type="radio" id="tomorrow" name="date" value="1">
                                            <label for="tomorrow" class="ml-2">Tomorrow</label>
                                        </div>
                                        <div class="flex items-center">
                                            <input type="radio" id="nextDay" name="date" value="2">
                                            <label for="nextDay" class="ml-2">The Next Day</label>
                                        </div>
                                    </div>
                                
                                    <div class="flex items-center mt-2 md:mt-0 ml-auto"> <!-- Container for time input -->
                                        <label for="timeInput" class="mr-2">Time:</label>
                                        <input type="time" id="timeInput" class="text-center bg-white">
                                    </div>
                                </div>
                                
                                
                                

                                

                                <div>
                                    <label for="startInput" class="text-sm font-medium">Start:</label>
                                    <input id="startInput" type="text" placeholder="Start location" class="mt-1 w-full p-3 rounded-lg border shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
                                </div>
                                <div>
                                    <label for="endInput" class="text-sm font-medium ">End:</label>
                                    <input id="endInput" type="text" placeholder="End location" class="mt-1 w-full p-3 rounded-lg border shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
                                </div>
                
                                <button type="button" onclick="submitForm()" class="w-full  bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                    Submit
                                </button>

                                <button id="directionsButton" type="button" onclick="submitForm()" class="w-full  bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                    Directions
                                </button>

                                
                                    <button type="button" class="bg-gray-300 hover:bg-gray-400 font-medium rounded-lg text-sm p-2.5 focus:outline-none focus:ring-4 focus:ring-gray-300" id="resetButton">
                                        <ion-icon name="refresh-outline" class="text-xl"></ion-icon>
                                    </button>
                            </form>
                        </div>
                
                        <!-- Route Details -->
                        <div class="bg-white mt-8 p-6 rounded-lg shadow-xl w-full mx-6">
                            <h2 class="text-lg font-semibold text-gray-800 mb-4">
                                Route Details
                            </h2>
                            <div id="route-info" class="text-lg">
                                <div class="flex items-center mb-2">
                                    <div class="bg-yellow-500 w-3 h-3 inline-block mr-2"></div>
                                    <p id="first-leg-info" class="text-gray-700">Walk</p>
                                </div>
                                <div id="depart-avail" class="flex items-center"></div>
                                <div class="flex items-center mb-2">
                                    <div class="bg-red-500 w-3 h-3 inline-block mr-2"></div>
                                    <p id="second-leg-info" class="text-gray-700">Ride</p>
                                </div>
                                <div id="arrive-avail" class="flex items-center"></div>
                                <div class="flex items-center">
                                    <div class="bg-blue-500 w-3 h-3 inline-block mr-2"></div>
                                    <p id="third-leg-info" class="text-gray-700">Walk</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                
    <!-- Google Maps Direction button, styled to appear to the right of Submit button. Hidden. Becomes Visible when form is submitted-->

    
    </nav>
    </div>
    
        <div id="map" class="flex-1" style="height: calc(100vh - (0vh));"></div>
    </main>


        <!--  Planning Panel -->





        <!-- End Planning Panel -->

    </main>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
