<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCD Bikes</title>
</head>

<body>
    <div id="options"></div>
    <script>
        const cities = [
            "maribor",
            "vilnius",
            "bruxelles",
            "creteil",
            "mulhouse",
            "luxembourg",
            "lund",
            "namur",
            "valence",
            "nancy",
            "ljubljana",
            "nantes",
            "cergy-pontoise",
            "dublin",
            "toulouse",
            "lillestrom",
            "seville",
            "toyama",
            "lyon",
            "besancon",
            "amiens"
        ];

        cities.forEach(city => {
            const link = document.createElement("a");
            link.href = `/${city}`;
            link.textContent = city;
            link.style.display = "block";
            document.getElementById("options").appendChild(link);
        });
    </script>
</body>

</html>